<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title>用户订单中心</title>
</head>

<body>
  <div id="app">
    <toast v-model="showPositionValue" type="text" :time="1000" is-show-mask :text="msgError" :position="position"></toast>
    <transition name="fade" mode="out-in">
      <router-view v-wechat-title="$route.meta.title"></router-view>
    </transition>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>