$baseFontSize: 100!default;

//左右留白
$emptyWidth:15rem / $baseFontSize;
body{
    font-size: 14rem / $baseFontSize;
    font-family: 'Microsoft YaHei', Arial !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}