$baseFontSize: 100!default;

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 25rem / $baseFontSize;
    font-family: 'Microsoft YaHei', Arial !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    p,div,input{
        margin: 0;
        padding: 0;
    }
    img{
        border: none;
    }
    ul li{
        list-style: none;
    }
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}